<!-- As a link -->
<nav>
  <div class="container-fluid">
    <a class="navbar-brand" href="student/add/form"><img style = "width:50%" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlt9tQ3HQTq1020I_KqBLRoQTI2hxrIMt0m13IJciRuinUmgGaCb6T7EzoICTWtXGhZ-o&usqp=CAU"/></a>
    <a class="navbar-brand" href="student/add/form">Macha Student Form</a>
    <a class="navbar-brand" href="student/list">Macha Student List</a>
    <a class = "navbar-brand" href = "homevisit/add/form">Homevisit Form</a>
    <a class = "navbar-brand" href = "homevisit/list">Homevisit List</a>

    <!-- <a class="navbar-brand" href="#">Navbar</a> -->


  </div>
</nav>

<!-- As a heading -->
<nav>
  <div class="container-fluid">
    <!-- <span class="navbar-brand mb-0 h1">Navbar</span> -->
  </div>
</nav>